#!/usr/bin/env bash
#
# Distribution type should be passed as $1.

CWD=$(cd $(dirname $0) ; pwd)

source $CWD/common-dists.bash

dist_type=$1
case $dist_type in
    block|cyclic|blockcyclic|replicated)
        ;;
    *)
        log_error "Invalid dist type: ${dist_type}"
        exit 1
        ;;
esac

# run dist regressions
log_info "Testing ${dist_type} distribution."
$CWD/nightly -cron -dist $dist_type

log_info "Finished ${0}."
