# Test/release/examples/primers ignores.
lib/
ccode/

/docs
/Arr.dat
/arrays
/arrayVectorOps
/associative
/atomics
/chpldoc.doc
/classes
/distributions
/domains
/fileIO
/FFTWlib
/genericClasses
/iterators
/learnChapelInYMinutes
/learnChapelInYMinutes.comp.out.tmp.preserved
/learnChapelInYMinutes.exec.out.tmp.preserved
/listOps
/locales
/parIters
/procedures
/randomNumbers
/ranges
/reductions
/slices
/sparse
/specialMethods
/syncsingle
/taskParallel
/timers
/variables
/varargs
/test.bin
/test.txt

/tempfile.txt
