# This hides users working files in this directory
/*
!/README*
!/build_configs.py
!/build-common.bash
!/chapel_build.bash
!/functions.bash
!/module-functions.bash
!/package-common.bash
!/package-functions.bash
!/setenv-example-1.bash
!/setenv-example-2.bash
!/setenv-example-3.bash
#
# This hides users subdirectories
#
/*/
!/cray-internal/
