# General ignores.
a.out
a.out_real
*.bak
*~
output
gen
.mason
Mason.lock
*.ntoks
*.o
*.pyc
*.tmp
TAGS
tags
*.DS_Store
*.vagrant


# Top level ignores.
/BUILD_VERSION
/Chapel.xcodeproj
/chplconfig
/configured-prefix
/configured-chpl-home
/SVNLOG
/.SVNLOG-revnum
/bin
/build
/lib
/tar

# Compiler ignores.
/compiler/BROWSE
/compiler/chpl
/compiler/codegen/reservedSymbolNames.h
/compiler/ifa/prim_data.cpp
/compiler/ifa/prim_data.h
/compiler/ifa/make_prims/make_prims
/compiler/ifa/make_prims/cygwin
/compiler/main/BUILD_VERSION
/compiler/main/COPYRIGHT
/compiler/main/LICENSE
/compiler/parser/bison-chapel.output

# Doc ignores.
/doc/**/*.aux
/doc/**/*.log
/doc/developer/chips/html
/doc/developer/chips/tmp
/doc/developer/compilerOverview/compiler.pdf
/doc/developer/compilerOverview/compiler.dvi
/doc/developer/compilerOverview/compiler.toc
/doc/quickReference/*.dvi
/doc/quickReference/*.pdf
/doc/quickReference/*.ps
/doc/tutorial/workbooks/boundedBuffer.pdf
/doc/tutorial/workbooks/histogram.pdf
/doc/tutorial/workbooks/life.pdf
/doc/tutorial/workbooks/*.dvi
/doc/tutorial/workbooks/*.bbl
/doc/tutorial/workbooks/*.blg
/doc/sphinx/build


# Make ignores.
/make/Chapel.xcodeproj/*.pbxuser
/make/Chapel.xcodeproj/*.mode1v3

# Man ignores.
/man/man1/
/man/man3/

# Modules ignores.
/modules/docs
/modules/webdocs

# Runtime ignores.
/runtime/include/chpl_rt_utils.h

# Spec ignores.
/spec/*.aux
/spec/*.ind
/spec/*.idx
/spec/*.ilg
/spec/*.log
/spec/*.out
/spec/*.toc
/spec/*.dvi
/spec/*.ps
/spec/*.pdf
/spec/spec_pl.tex
/spec/_chapter_temp.tex
/spec/Syntax.tex

# Test ignores.
/test/FUTURES
/test/Logs
/test/**/compperfdat
/test/**/perfdat

/test/arrays/vass/setter-assigned-to-a-var.exec.out.tmp.save

/test/chpldoc/**/docs

/test/chpldoc/compflags/folder/myDocs
/test/chpldoc/compflags/folder/my-docs
/test/chpldoc/compflags/folder/my_docs
/test/chpldoc/compflags/folder/save-sphinx/my-sphinx
/test/chpldoc/compflags/folder/save-sphinx/deep-sphinx

/test/chplvis/TREEvis
/test/chplvis/benchmarks-hpcc/FFTvis
/test/chplvis/benchmarks-hpcc/HPLvis
/test/chplvis/benchmarks-hpcc/RAvis
/test/chplvis/overhead/OH
/test/chplvis/overhead/OH2

/test/compflags/bradc/savecDirExists
/test/compflags/bradc/copyright/declint.good
/test/compflags/bradc/gdbddash/.gdb_history
/test/compflags/bradc/html/log
/test/compflags/bradc/savecDir
/test/compflags/bradc/license/declint.good
/test/compflags/bradc/printstuff/copyright.good
/test/compflags/bradc/printstuff/license.good
/test/compflags/bradc/printstuff/version.good
/test/compflags/bradc/printstuff/zall.good
/test/compflags/bradc/printstuff/zcopyhelp.good
/test/compflags/bradc/printstuff/zcopylice.good
/test/compflags/bradc/printstuff/zcopyvers.good
/test/compflags/bradc/printstuff/zhelplice.good
/test/compflags/bradc/printstuff/zhelpvers.good
/test/compflags/bradc/printstuff/zlicevers.good

/test/compflags/diten/log

/test/compflags/lydia/library/libtesting.a

/test/compflags/shannon/cpplines/cppLines.OUTPUT
/test/compflags/shannon/cpplines/noCppLines.OUTPUT

/test/compflags/sungeun/configs/basic/configType.good
/test/compflags/sungeun/configs/basic/configParamWithConfigType.good
/test/compflags/sungeun/configs/basic/configConst.good
/test/compflags/sungeun/configs/basic/configVar.good
/test/compflags/sungeun/configs/basic/configParamWithType.good
/test/compflags/sungeun/configs/basic/configParam.good
/test/compflags/sungeun/configs/type_variables/configTypeClass.good
/test/compflags/sungeun/configs/type_variables/configTypePrimitive.good
/test/compflags/sungeun/configs/type_variables/configTypeRecord.good
/test/compflags/sungeun/configs/type_variables/configTypeArray.good
/test/compflags/sungeun/configs/type_variables/configTypeUserType.good
/test/compflags/sungeun/configs/type_variables/configTypeFunNoType.good
/test/compflags/sungeun/configs/type_variables/configTypeFun.good

/test/compflags/thomasvandoren/chpldoc/*.doc.good
/test/compflags/thomasvandoren/chpldoc/docs/

/test/compflags/waynew/*.c
/test/compflags/waynew/*.tmp_launcher
/test/compflags/waynew/Makefile
/test/compflags/waynew/*.h
/test/compflags/waynew/chplmake.out

/test/deprecated/parentNameErr.good

/test/distributions/dm/hplx.exec.out.tmp.orig

/test/distributions/robust/arithmetic/optimizations/optimizeOnClauses_basic.comm-gasnet.good
/test/distributions/robust/arithmetic/optimizations/optimizeOnClauses_basic_record.comm-gasnet.good
/test/distributions/robust/arithmetic/optimizations/optimizeOnClauses_basic_tuple.comm-gasnet.good

/test/domains/shannon/OUTPUT

/test/execflags/bradc/callStackSize.good
/test/execflags/bradc/gdbddash/.gdb_history
/test/execflags/shannon/configs/help/*.good
/test/execflags/sungeun/about.good

/test/exercises/Mandelbrot/mandelbrot.bmp
/test/exercises/Mandelbrot/mandelbrot.ppm
/test/exercises/Mandelbrot/solutions/mandelbrot.ppm
/test/exercises/c-ray/solutions/c-ray-chplvis

/test/expressions/lydia/noinit/ccode

/test/extern/bradc/externSystem.appendme
/test/extern/deitz/myfile.dat

/test/interop/fortran/genFortranInterface/lib

/test/io/bradc/fileIO.out.txt
/test/io/bradc/subdir/out.dat
/test/io/diten/myBlockArr.bin

/test/library/packages/HDF5/mydata.h5
/test/localeModels/gbt/maxTaskPar.good

/test/memory/gbt/test-memLog.memLog.*
/test/memory/shannon/jacobi.log
/test/memory/shannon/configVarFile.log

/test/library/packages/HDF5/ex_lite1.h5
/test/library/packages/HDF5/ex_lite3.h5
/test/library/packages/ZMQ/getLastEndpointHelper
/test/library/standard/FileSystem/chmod/dir
/test/library/standard/FileSystem/chmod/file
/test/library/standard/FileSystem/chmod/chmod_noprivilege.good
/test/library/standard/FileSystem/copyFile/*.out
/test/library/standard/FileSystem/fsouza/chdir/destination
/test/library/standard/FileSystem/fsouza/chown/file.txt
/test/library/standard/FileSystem/fsouza/isdir/my_dir
/test/library/standard/FileSystem/fsouza/isdir/my_file
/test/library/standard/FileSystem/fsouza/isfile/my_dir
/test/library/standard/FileSystem/fsouza/isfile/my_file
/test/library/standard/FileSystem/lydia/copy/bar.txt
/test/library/standard/FileSystem/lydia/copyFile/bar.txt
/test/library/standard/FileSystem/lydia/copyTree/complexDest
/test/library/standard/FileSystem/lydia/copyTree/emptyDest
/test/library/standard/FileSystem/lydia/copyTree/sparseDest
/test/library/standard/FileSystem/lydia/copyTree/verySparseDest
/test/library/standard/FileSystem/lydia/copyTree/shortDest
/test/library/standard/FileSystem/lydia/copyTree/denseDest
/test/library/standard/FileSystem/lydia/copyTree/cutoffDest
/test/library/standard/FileSystem/lydia/copyTree/existing_dir
/test/library/standard/FileSystem/lydia/copyTree/hasLink
/test/library/standard/FileSystem/lydia/copyTree/willLink
/test/library/standard/FileSystem/lydia/copyTree/willCopy
/test/library/standard/FileSystem/lydia/exists/broken_link
/test/library/standard/FileSystem/lydia/exists/dir
/test/library/standard/FileSystem/lydia/exists/dir_link
/test/library/standard/FileSystem/lydia/exists/file
/test/library/standard/FileSystem/lydia/exists/file_link
/test/library/standard/FileSystem/lydia/exists/going_away
/test/library/standard/FileSystem/lydia/isLink/broken_dir_link
/test/library/standard/FileSystem/lydia/isLink/broken_file_link
/test/library/standard/FileSystem/lydia/isLink/my_dir
/test/library/standard/FileSystem/lydia/isLink/my_file
/test/library/standard/FileSystem/lydia/isLink/my_link_dir
/test/library/standard/FileSystem/lydia/isLink/my_link_file
/test/library/standard/FileSystem/lydia/isMount/symlinkToRoot
/test/library/standard/FileSystem/lydia/isMount/notAMonkey/symlinkToRoot
/test/library/standard/FileSystem/lydia/moveDir/complexCopy
/test/library/standard/FileSystem/lydia/moveDir/complexDest
/test/library/standard/FileSystem/lydia/moveDir/hasLink
/test/library/standard/FileSystem/lydia/moveDir/linkDest
/test/library/standard/FileSystem/lydia/sameFile/linkToIt
/test/library/standard/FileSystem/lydia/sameFile/moveMe.txt
/test/library/standard/FileSystem/lydia/symlink/bar.txt
/test/library/standard/Path/saru/getParentName/parentName.good
/test/library/standard/Path/saru/getParentName/parentNameErr.good
/test/library/standard/Path/lydia/realpath/blahblahblah.txt
/test/library/standard/Path/dlongnecke/normPath/normPath.good
/test/library/standard/Path/dlongnecke/absPath/absPath.good
/test/library/standard/Path/dlongnecke/absPath/fileAbsPath.good
/test/library/standard/Path/relPath/relPath.good
/test/library/standard/Path/relPath/fileRelPath.good
/test/library/standard/Spawn/stdout-stderr_real
/test/library/standard/Time/stonea/getCurrentDayOfWeek.good
/test/library/standard/machine/numPUs.good
/test/library/standard/Memory/countMemory/countMemory.*.good

/test/localeModels/dmk/locale_name.good

/test/multilocale/deitz/needMultiLocales/test_remote_file_read_class.txt
/test/multilocale/numLocales/bradc/testVerboseFlag.good
/test/multilocale/numLocales/bradc/testVFlag.good

/test/npb/cg/bradc/latex

/test/optimizations/bulkcomm/bharshbarg/remote.good

/test/parallel/taskPar/taskIntents/src/*.d
/test/parallel/taskPar/taskIntents/src/*.o

/test/performance/compiler/elliot/passCheck.good

/test/performance/vectorization/vectorPragmas/*.good

/test/release/examples/spec
/test/release/examples/benchmarks/hpcc/variants/stream-promoted
/test/release/examples/benchmarks/hpcc/variants/ra-cleanloop
/test/release/examples/benchmarks/lulesh/coords.out
/test/release/examples/patterns/test.txt
/test/release/examples/primers/docs
/test/release/examples/primers/Arr.dat
/test/release/examples/primers/arrays
/test/release/examples/primers/arrayVectorOps
/test/release/examples/primers/associative
/test/release/examples/primers/atomics
/test/release/examples/primers/chpldoc.doc
/test/release/examples/primers/classes
/test/release/examples/primers/distributions
/test/release/examples/primers/domains
/test/release/examples/primers/fileIO
/test/release/examples/primers/FFTWlib
/test/release/examples/primers/genericClasses
/test/release/examples/primers/iterators
/test/release/examples/primers/learnChapelInYMinutes
/test/release/examples/primers/learnChapelInYMinutes.comp.out.tmp.preserved
/test/release/examples/primers/learnChapelInYMinutes.exec.out.tmp.preserved
/test/release/examples/primers/listOps
/test/release/examples/primers/locales
/test/release/examples/primers/parIters
/test/release/examples/primers/procedures
/test/release/examples/primers/randomNumbers
/test/release/examples/primers/ranges
/test/release/examples/primers/reductions
/test/release/examples/primers/slices
/test/release/examples/primers/sparse
/test/release/examples/primers/specialMethods
/test/release/examples/primers/syncsingle
/test/release/examples/primers/taskParallel
/test/release/examples/primers/timers
/test/release/examples/primers/variables
/test/release/examples/primers/varargs
/test/release/examples/primers/test.bin

/test/release/examples/primers/chplvis/E1
/test/release/examples/primers/chplvis/E2
/test/release/examples/primers/chplvis/E3
/test/release/examples/primers/chplvis/E4

/test/release/examples/primers/tempfile.txt

/test/runtime/gbt/numThreadsSymbolicLogical.good
/test/runtime/gbt/numThreadsSymbolicPhysical.good
/test/runtime/kbrady/goodAllocSize.good
/test/runtime/sungeun/chpl-env-gen.h
/test/runtime/sungeun/chpl-env-gen.test.gen.c

/test/studies/590o/alexco/*.txt
/test/studies/IMSuite/leader_elect_lcr/outputleader_elect_lcr_*.txt
/test/studies/IMSuite/vertexColor/outputvertexColoring*.txt
/test/studies/amr/**/_output
/test/studies/amr/**/*.tmp.save
/test/studies/dijkstra/RtsGraph_out.txt

/test/studies/hpcc/CommDiags/ra.chpl
/test/studies/hpcc/CommDiags/raAtomics.chpl
/test/studies/hpcc/CommDiags/stream.chpl
/test/studies/hpcc/CommDiags/streamEP.chpl
/test/studies/hpcc/CommDiags/hpl.chpl
/test/studies/hpcc/FFT/bradc/dfft
/test/studies/hpcc/FFT/bradc/*.txt
/test/studies/hpcc/FFT/bradc/fft
/test/studies/hpcc/HPL/marybeth/HPL.out
/test/studies/hpcc/HPL/marybeth/hpl_test
/test/studies/hpcc/RA/performance/ra
/test/studies/hpcc/STREAMS/performance/stream-index
/test/studies/hpcc/STREAMS/performance/stream-index64
/test/studies/hpcc/STREAMS/performance/stream-walker
/test/studies/hpcc/STREAMS/performance/stream-walker64
/test/studies/hpcc/common/testProbSize.good

/test/studies/lulesh/bradc/coords.out
/test/studies/lulesh/bradc/xyztuple/coords.out
/test/studies/lulesh/sungeun/coords.out

/test/studies/madness/**/test_diff
/test/studies/madness/**/test_gaxpy
/test/studies/madness/**/test_likepy
/test/studies/madness/**/test_mul
/test/studies/madness/**/test_showboxes

/test/studies/parboil/BFS/output.dat
/test/studies/parboil/SAD/output.bin
/test/studies/parboil/histo/output.bin
/test/studies/parboil/stencil/output.bin

/test/studies/shootout/mandelbrot/ferguson/mandelbrot.pbm

/test/studies/ssca2/graphio/graphio.1.vertex_edge_info.data
/test/studies/ssca2/graphio/graphio.1.sv2_snapshot.data
/test/studies/ssca2/graphio/graphio.1.ev2_snapshot.data
/test/studies/ssca2/graphio/graphio.1.start_snapshot.data
/test/studies/ssca2/graphio/graphio.1.weight_snapshot.data
/test/studies/ssca2/graphio/graphio.2.vertex_edge_info.data
/test/studies/ssca2/graphio/graphio.2.sv2_snapshot.data
/test/studies/ssca2/graphio/graphio.2.ev2_snapshot.data
/test/studies/ssca2/graphio/graphio.2.start_snapshot.data
/test/studies/ssca2/graphio/graphio.2.weight_snapshot.data
/test/studies/ssca2/rachels/SSCA2_main.RMAT.good
/test/studies/ssca2/rachels/SSCA2_main.1Dtorus.good
/test/studies/ssca2/rachels/SSCA2_main.2Dtorus.good
/test/studies/ssca2/rachels/SSCA2_main.3Dtorus.good
/test/studies/ssca2/rachels/SSCA2_main.4Dtorus.good
/test/studies/ssca2/sungeun/SSCA2_main.RMAT.good
/test/studies/ssca2/sungeun/SSCA2_main.1Dtorus.good
/test/studies/ssca2/sungeun/SSCA2_main.2Dtorus.good
/test/studies/ssca2/sungeun/SSCA2_main.3Dtorus.good
/test/studies/ssca2/sungeun/SSCA2_main.4Dtorus.good
/test/studies/ssca2/test-rmatalt/rmatalt.weights
/test/studies/ssca2/test-rmatalt/rmatalt.neis

/test/studies/sudoku/dinan/sudoku
/test/studies/sudoku/dinan/sudoku-simple
/test/studies/sudoku/dinan/sudoku-smart

/test/studies/uts/uts-deq
/test/studies/uts/uts-deq-seq
/test/studies/uts/uts-rec
/test/studies/uts/uts-rec-seq

/test/trivial/sungeun/runningTasks2.good

/test/types/file/_test_fwrite*.txt
/test/types/file/_test_fread*.txt
/test/types/file/OUTPUT
/test/types/file/arr.out
/test/types/file/arr2.out
/test/types/file/bradc/f.out

/test/users/franzf/**/fft
/test/users/franzf/**/*.out
/test/users/franzf/v1/c99/*.sln
/test/users/franzf/v1/c99/*.icproj
/test/users/franzf/v1/c99/*.vcproj
/test/users/franzf/v2/chpl/chapel.hash

/test/variables/bradc/docs/pragmaMultipleVars.doc.txt

/test/visibility/only/test.dat

/test/users/thom/returnGenericLineno/strassen

test/types/string/validation/stress.good

# Third party ignores.
/third-party/**/build
/third-party/**/install
/third-party/llvm/llvm

/third-party/gmp/gmp-src/doc/gmp.info.*

/third-party/fltk/build.*
/third-party/fltk/install.*

# Tools ignores.

/tools/chplvis/chplvis
/tools/chplvis/chplvis.cxx
/tools/chplvis/chplvis.h

# Util ignores.
/util/pastPerformance/ra.dat
/util/pastPerformance/stream.dat
/util/tokencount/lex.yy.c
/util/tokencount/tokencount
/util/tokencount/tokencount.cron
/util/tokencount/tokencount.dbg
/util/tokencount/tokencount.output
/util/tokencount/tokencount.tab.c
/util/tokencount/tokencount.tab.h

/util/devel/test/vagrant/log
/util/devel/test/vagrant/log2
/util/devel/test/vagrant/*/*-cloudimg-console.log
