# General ignores.
a.out
a.out_real
*.bak
*~
output
gen
.mason
Mason.lock
*.ntoks
*.o
*.so
*.dylib
*.a
*.pyc
*.tmp
TAGS
tags
*.DS_Store
*.vagrant
.vscode/
.idea/
cmake-build-*/
.cache/
*.dSYM

# Top level ignores.
/BUILD_VERSION
/Chapel.xcodeproj
/chplconfig
/configured-prefix
/configured-chpl-home
/SVNLOG
/.SVNLOG-revnum
/bin
/build
/lib
/tar

# Spec ignores.
/spec/*.aux
/spec/*.ind
/spec/*.idx
/spec/*.ilg
/spec/*.log
/spec/*.out
/spec/*.toc
/spec/*.dvi
/spec/*.ps
/spec/*.pdf
/spec/spec_pl.tex
/spec/_chapter_temp.tex
/spec/Syntax.tex
