# This hides users working files in this directory
/*
!/README*
!/chapel_build.bash
!/chapel_package-cray.bash
!/common.bash
!/generate-dev-releaseinfo.bash
!/generate-modulefile.bash
!/generate-rpmspec.bash
!/generate-set_default.bash
!/setenv-xc-x86_64.bash
!/setenv-xc-aarch64.bash
!/setenv-xe-x86_64.bash
#
# This hides users subdirectories
#
/*/
