pkgbase = chapel-git
	pkgdesc = Programming language designed for productive parallel computing at scale
	pkgver = 1.29.0.138.g0cce54a2f2
	pkgrel = 1
	url = https://chapel-lang.org/
	arch = x86_64
	arch = arm
	license = Apache
	makedepends = git
	makedepends = cmake
	depends = python
	depends = perl
	depends = llvm
	depends = clang
	source = git+https://github.com/chapel-lang/chapel.git
	sha256sums = SKIP

pkgname = chapel-git
