ConfigFile.Version: 3.4
ConfigFile.NumWindows: 3


################################################################################
< NEW DISPLAYING WINDOW Instr. Completed (values) >
################################################################################
window_name Instr. Completed (values)
window_type single
window_id 1
window_position_x 312
window_position_y 35
window_width 956
window_height 115
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Nanoseconds
window_maximum_y 440493006.000000000000
window_minimum_y 607.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 42000050

################################################################################
< NEW DISPLAYING WINDOW Total Cycles >
################################################################################
window_name Total Cycles
window_type single
window_id 2
window_position_x 312
window_position_y 177
window_width 956
window_height 115
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Nanoseconds
window_maximum_y 891297773.000000000000
window_minimum_y 3357.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 42000059

################################################################################
< NEW DISPLAYING WINDOW IPC: Instr. Completed (ratio) >
################################################################################
window_name IPC: Instr. Completed (ratio)
window_type composed
window_id 3
window_factors 1.000000000000 1.000000000000
window_operation divide
window_identifiers 1 2
window_position_x 312
window_position_y 319
window_width 956
window_height 115
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_gradient_mode
window_units Nanoseconds
window_maximum_y 2.945488273290
window_minimum_y 0.009016369092
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open true
window_drawmode 1
window_drawmode_rows 1
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }

