pkgbase = chapel
	pkgdesc = Programming language designed for productive parallel computing at scale
	pkgver = 1.27.0
	pkgrel = 1
	url = https://chapel-lang.org/
	arch = x86_64
	arch = arm
	license = Apache
	makedepends = git
	makedepends = cmake
	depends = python
	depends = perl
	depends = llvm
	depends = clang
	source = https://github.com/chapel-lang/chapel/releases/download/1.27.0/chapel-1.27.0.tar.gz
	sha256sums = 558b1376fb7757a5e1f254c717953f598a3e89850c8edd1936b8d09c464f3e8b

pkgname = chapel
