platforms/*.rst
!platforms/index.rst

technotes/*.rst
!technotes/index.rst

usingchapel/*.rst
!usingchapel/index.rst

builtins
modules/standard
modules/dists
modules/layouts
modules/packages

language/*.pdf

tools/chpldoc/man.rst
