h2 {
    color: green;
}

h3 {
    color: navy;
}

h4 {
    color: maroon;
}

h5 {
    color: yellow;
}

#content {
    text-align:left;
    margin:0 auto;
    min-height:550px;
    max-width:800px;
    padding:1em 1em 2em;
}

#headerBox {
    background-color:#005696;
    border:#666666 2px solid;
    background-position:center;
    background-repeat:no-repeat;
    height:50px;
    max-width:800px;
    margin-bottom:1em;
    margin-left:225px;
}
#headerTitle {
    text-align:center;
    margin-top:-1em;
    color:#FFFFFF;
}

#sidebar {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#005696;
    border:#666666 2px solid;
    color:#FFFFFF;
    float:left;
    width: 13em;
    margin-top:5em;
    clear:both;
}

#sidebar ul {
    padding:0 .5em;
}

#sidebar li {
    color:#FFFFFF;
    font-size:0.85em;
    font-weight:bold;
    list-style-type:none;
}


#sidebar a:link {
    color:#FFFFFF;
    text-decoration:none;
}

#sidebar a:visited {
    color:#FFFFFF;
    text-decoration:none;
}

#sidebar a:hover {
    color:#FFFFFF;
    text-decoration:underline;
}
#sidebar a:active {
    color:#FFFFFF;
    text-decoration:underline;
}
