name: email
on:
    # this workflow is intended to run on merges from a forked repo to main(base-repo). Use pull_request_target
    # this will provide read access to the secrets in main
    pull_request_target:
      types:
        - closed
      
jobs: 
  send_email:
   # run this workflow step only when the PR is merged 
   # if:  github.event.pull_request.merged == true 
    runs-on: ubuntu-latest 
    steps:
      - name: print git events
        run:  cat "$GITHUB_EVENT_PATH"                     
      - name: print GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"  
      - name: get commits payload
        env:
          COMMIT_URL: ${{github.event.pull_request._links.commits.href}}
        run: |
              curl --location --request GET $COMMIT_URL --header 'X-API-Key: ${{ secrets.GITHUB_TOKEN}}' -o commits.json
              echo "AUTHOR=$(jq -r '.[0].commit.author.name' commits.json)" >> $GITHUB_ENV   
              echo "LINK=$(jq -r '.[0].html_url' commits.json)" >> $GITHUB_ENV
              echo "MESSAGE=$((jq  '.[0].commit.message' commits.json)| awk -F'\\\\n' '{print $1}' | sed 's/\"//g')" >> $GITHUB_ENV 
              echo "COMPARE_URL= $( echo '${{github.event.repository.html_url}}/compare/${{github.event.pull_request.base.sha}}...${{ github.event.pull_request.merge_commit_sha}}' )" >> $GITHUB_ENV      
              echo "LOG=$(echo '[Merge pull request] # ${{github.event.number}} from ${{github.event.pull_request.head.label}}' )" >> $GITHUB_ENV
              echo "FILES_CHANGED=$(echo '${{github.event.pull_request._links.html.href}}/files' )" >> $GITHUB_ENV
      - name: checkout
        uses: actions/checkout@v3
        # To get git diff on the files that were changed in the PR checkout with fetch-depth 2.
        with:
          fetch-depth: 2          
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v32
        with:
          separator: ","                 
      - name: Send mail  
        uses: dawidd6/action-send-mail@v3
        with:
           # Required mail server address if not connection_url:
           server_address: ${{ secrets.SMTP_PROVIDER}}
           server_port: 465
           # Optional whether this connection use TLS (default is true if server_port is 465)
           secure: true
           # Optional (recommended): mail server username:
           username:  ${{ secrets.MAIL_USERNAME}} 
           # Optional (recommended) mail server password:
           password: ${{secrets.MAIL_PASSWORD}}
           # Required mail subject:
           subject: Chapel Merge  ${{github.event.number}}  ${{github.event.pull_request.title}}  
           # Required recipients' addresses:
           to: chapel+commits@discoursemail.com
           # Required sender full name (address can be skipped):
           from: chapel-lang 
           html_body: |
              <!DOCTYPE html>
              <html>
              <body>
              <p>
              Branch: ${{github.ref}} <br>
              Revision: ${{ github.event.pull_request.merge_commit_sha }}  <br>
              Author: ${{ env.AUTHOR}} <br>
              Link: ${{env.LOG}} &nbsp;&nbsp;${{github.event.pull_request._links.html.href}} <br>             
              Log Message: <br><br>
                           ${{env.LOG}} <br>
                           ${{env.MESSAGE}} <br>  
                           ${{github.event.pull_request.body}} <br><br>
              
              Modified Files: <br>
                   ${{steps.changed-files.outputs.all_changed_and_modified_files}} <br><br>
              Removed Files: <br>     
                   ${{steps.changed-files.outputs.deleted_files}} <br>
              Compare: ${{env.COMPARE_URL}} <br> 
              Diff: ${{github.event.pull_request.diff_url}} <br>
              FilesChanged: ${{env.FILES_CHANGED}} <br><br>
              </p>
              </body>
              </html>
           # Optional converting Markdown to HTML (set content_type to text/html too):
           convert_markdown: true
           # Optional priority: 'high', 'normal' (default) or 'low'
           priority: low
